<div class="container">
  <div class="col s12 m12 center row container">
    <div class="card">
      <div class="card-image">
        <div class="progress" *ngIf="!imageLoaded">
          <div class="indeterminate"></div>
        </div>
        <div *ngIf="hasFeaturedImage">
          <img id="{{journey._id}}"/>
        </div>
        <div *ngIf="!hasFeaturedImage">
          <img src="../../../assets/images/track_api.png"/>
        </div>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light big show-more-button" routerLink="/journeys/show/{{journey._id}}"><i class="material-icons">menu</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">{{journey.name}}</span>
        <p>{{journey.caption}}</p>
        <div class="card-author">
          <span class="chip">Автор: <b>{{journey.author}}</b> <img *ngIf="!userHasAvatar" src="../../../assets/images/default-avatar.png"/> <img class="userAvatar" id="userAvatar-{{journey.author}}"/></span>
        </div>
      </div>
    </div>
  </div>
</div>

