<div id="index-banner top" class="parallax-container">
  <div class="row">
    <div class="container row">
      <h1 class="header left grey-text text-darken-3">PHOTOGRAM</h1>
    </div>
  </div>
  <div class="row">
    <div class="container row">
      <h2 class="header light grey-text text-darken-3 left">Сподели движението!</h2>
    </div>
  </div>
  <div class="container row">
    <div class="row">
      <div>
        <a class="btn waves-effect waves-light btn-large morebtn" (click)="onLinkClick()">Научи повече</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../../assets/images/homepage-banner.png"/></div>
</div>

<div class="ad-container">
<div class="row container center ">
  <div class="divider"></div>
  <div class="col s12 m4" id="about-photogram">
    <i class="material-icons medium purple-text home-icon">explore</i>
    <h2 class="home-icon-heading">Открий</h2>
    <div class="home-icon-text">
      красотата и магията на нашия свят посещавайки различни дестинации
    </div>
  </div>
  <div class="col s12 m4">
    <i class="material-icons medium purple-text home-icon">add_a_photo</i>
    <h2 class="home-icon-heading">Улови</h2>
    <div class="home-icon-text">
      красотата на всеки един миг, всяко движение и всеки спомен, който искаш да запазиш във времето
    </div>
  </div>
  <div class="col s12 m4">
    <i class="material-icons medium purple-text home-icon">share</i>
    <h2 class="home-icon-heading">Сподели</h2>
    <div class="home-icon-text">
      своето пътешествие, за да може всички да открият колко невероятен и различен е света
    </div>
  </div>
</div>
<div class="divider"></div>
</div>

<div class="join-container">
  <div class="divider"></div>
  <div class="row container center">
    <div class="col s12">
      <i class="material-icons medium purple-text home-icon">people_outline</i>
      <h2 class="home-icon-heading">Присъедини се към Photogram</h2>
      <div class="home-icon-text">
        Все още не си част от <a routerLink="/">Photogram</a>? Присъедини се към нас и сподели своите изживявания със
        света!
      </div>
      <a routerLink="/login">
        <button class="btn searchbtn waves-effect waves-light joinus-button" type="submit" name="action">Логин</button>
      </a>
      <a routerLink="/register">
        <button class="btn searchbtn waves-effect waves-light joinus-button" type="submit" name="action">Регистрация
        </button>
      </a>
    </div>
  </div>
  <div class="divider"></div>
</div>

<app-footer></app-footer>

