<app-filters-container
  (searchByAuthor)="getJourneysByAuthorName($event)"
  (searchInDateFrame)="searchJourneysInDateFrame($event)"></app-filters-container>

<div class="row">
  <div class="center container">

    <div class="divider" id="pageTop"></div>
    <!--Journeys and preloader container-->
    <div class=" center">
        <!--Journeys-->
        <span class="journeysWrapper center" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0"
             (scrolled)="loadMoreJourneys()">
          <app-journey-preview *ngFor="let journey of journeysArr" [journey]="journey" [journeyCount]="journeysCount"
                               class="center container"></app-journey-preview>
        </span>
      <!--Preloader-->
      <div *ngIf="upcommingResults" class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large grey waves-effect waves-light" (click)="scrollToTop()">
    <i class="large material-icons">keyboard_arrow_up</i>
  </a>
</div>

<div *ngIf="!upcommingResults && journeysArr.length === 0">
  <div class="container center red-text">
    <div class="no-results">Не бяха намерени резултати.</div>
  </div>
</div>
<!-- Footer-->
<div *ngIf="!upcommingResults && journeysArr.length > 0">
  <app-footer></app-footer>
</div>
