.card-content p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}

.card-image img{
}

.card-large{
  transform: scale(1.2);
  opacity: 1;
}

.card-content .card-title{
  font-weight: 600;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.show-more-button{
  background:  linear-gradient(to right, #7e57c2 , #2196f3) !important;
}

.chip{
  margin: 10px 0 15px 0;
}

.divider{
  height: 20px;
  background: transparent;
}

.materialboxedimage{
  max-height: 350px;
  min-height: 350px;
}


.modal-image{
  max-height: 800px !important;
}

@media all and (max-width: 782px){
  .container{
    width: 100%;
  }
  .row, .col{
    margin: 0 !important;
  }

}

@media all and (max-width: 993px){
  .materialboxedimage{
    max-height: 100%;
  }
  .btn-pad{
    margin-top: 10px;
  }

  .camera-alt{
    text-align: unset !important;
  }
  .delimeter{
    margin: 20px 0 !important;
  }
  .modal-image{
    padding: 0 10px !important;
  }
}

.materialboxed{
  cursor: pointer;
}
.marg{
  margin: 10px 0 15px 0;
  cursor: default;
}

.material-icons{
  cursor: default;
}

.adjustIcon{
  transform: scale(0.6);
  margin-left: -10px;
  margin-top: -10px;
}


.tooltip {

  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 800%;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  opacity: 0.6;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent grey transparent transparent;
  border-opacity: 0.6;
}
.tooltip:hover .tooltiptext {
  margin-left: 5px;
  visibility: visible;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  max-height: 100% !important;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80% !important;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    max-width: 100% !important;
  }
  .photoModal .col .row {
    padding: 0 !important;
  }
  .pad-left{
    padding-left: 20px !important;
  }

  .image-details{
    padding-left: 0;
    padding-right: 0;
  }
}

.pull-left{
  text-align: left;
  float: left;
}

.align-left{
  text-align: left;
  margin-bottom: 0 !important;
}

.camera-model{
  font-size: 20px;
}

.modal-image{
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.camera-alt{
  text-align: left;
}

.delimeter{
  height: 2px;
  color: white;
  background-color: white;
}

.photoComment{
  margin-top: -30px;
}

@media screen and (max-width: 783px){
  .photoComment{
    margin-top: -10px;
    margin-left: -13px;
    font-size: 14px;
  }
}



