.parallax img {
  opacity: 1;
  height: 80%;
}

h1{
  font-size: 46px;
  line-height: 1.2;
  font-weight: 600;
  padding-top: 20px;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  margin-bottom: 0;
}

h2{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  margin-top: 10px;
}

.parallax-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.divider{
  height: 30px;
  color:transparent;
  background-color: transparent;
}

.journeyMainDetails, #journeyImagesMap{
  height: 400px;
  z-index: 0;
}

@media  all and (max-width: 782px) {
  .journeyMainDetails{
    height: 100%;
  }
  h1{
    margin-top: 0;
  }
  #journeyImagesMap{
    height: 300px;
  }
}


.journeyMainRow{
  padding: 0 !important;
}

.preloader-wrapper{
  margin-top: 20px;
}

.journeyMainAndMap{
  margin-bottom: 0;
}

.bottomPush{
  margin-bottom: 70px;
}

.ratings{
  margin-top: 20px;
  margin-bottom: -5px;
}

.totalReviewers{
  font-size: 14px;
  color: #888888;
  font-weight: 500;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  max-height: 100% !important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.vote:hover{
  cursor: pointer !important;
  border-bottom: 2px solid #F44336;
  padding-bottom: 2px;
  transition: padding-bottom 0.2s;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border-color: #2196f3;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
  background-color: #2196f3;
}
