
  <div class="divider"></div>
  <!--Preloader-->
  <div class="center">
    <div *ngIf="imagesLoaded === false" class="preloader-wrapper small active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!images.length && imagesLoaded === true">
    <div class="red-text center">
      Няма намерени снимки
    </div>
  </div>

  <div *ngIf="images.length && imagesLoaded === true">
    <div class="uploadedPhotosWrapper center row" >
      <div>
        <div class="divider"></div>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="loadMoreImages()">
          <app-admin-image *ngFor="let photo of images" [photo]="photo" (delete)="deleteImage($event)" class="col s12 m6 l3"></app-admin-image>
        </div>
        <div class="divider"></div>

      </div>
    </div>
    <div class="divider"></div>
  </div>

